<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  	<system.diagnostics>
      <trace autoflush="true" />
		<sources>
      <source name="Topshelf" switchValue="Information">
        <listeners>
          <remove name="Default"></remove>
          <add name="file"></add>
        </listeners>
      </source>
		
      <source name="Tavis.Owin.OwinServiceHost" switchValue="Information">
        <listeners>
          <remove name="Default"></remove>
          <add name="file"></add>
        </listeners>
      </source>

    </sources>
      <sharedListeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener">
        </add>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.txt">
        </add>
      </sharedListeners>
	</system.diagnostics>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>